*{  
    margin: 0;
    padding: 0;
    border: 0;
    width: auto;
    height: auto;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
header{
    width: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    text-align: center;
    min-height: 60px;
    font-size: 23px;
    font-weight: 500;
    padding: 20px;
}
body{
    width: auto;
    height: auto;
    text-align: center;
    margin: 0;
    padding: 0;
}
.logo{
    align-items:center;
    flex-direction:row;
    display:flex;
    float: left;
    color: #d7d94c ;
    padding-right: 10px;  
    font-size: 20px;
    font-weight:600 ;
}
.logo img{
    height: 50px;
    margin-right: 10px;
    padding-left: 5px;
}
span{
    display: flex;
    text-align: center;
    color: #a5a3a3;
    padding-left:5px;
}
.barra{
    margin-top: 10px;
    display: flex;
    float: right;
    align-items: center;
}
@media (max-width:700px){
    header{
        flex-direction:column;
    }
    nav{
        padding:10px 0px;
    }
}
.barra ul li{
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.barra a{
    text-decoration: none;
    color: #d7d94c ;
}

.barra a:hover{
    color: #a5a3a3;
}
.c-item{
    height: 800px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
}

.card{
    border-radius: 20px;
    background-color:#d7d94c;
    border-color: #000000;
    box-shadow: 0 0 10px #d7d94c;
    text-shadow: 0 0 2px #ffffff;
}
.card-img-top{
    border-radius: 20px;
    box-shadow: 0 0 15px #000;
    width: auto;
    height: 300px;
    filter: brightness(0.7);
    object-fit: cover;
}
.c-botton{
    background-color: #000;
    text-align: center;
}
footer{
    
    margin: auto 0;
    align-items: center;
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 15px;
}
footer p{
    padding-top: 100px;
    margin-bottom: 50px;
    text-decoration: line-through;
}
footer .redes a{
    text-align: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    letter-spacing: 20px;
}

.subir{
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: rgb(182, 155, 0);
    position: fixed;
    bottom: 40px;
    right: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    box-shadow:0 0 5px #fff 
}


.study{
    height: 100vh;
    background-image: url(../img/music-1290087.jpg);
    filter: brightness(0.8);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction:row;
    justify-content:space-evenly;
}
@media(max-height:900px){
    .study{flex-direction: column;
        padding: 20px;
        height: 100%;
    }
    .equipo{
        margin:10px;
    }
}
.studyh2{
    text-shadow: 0 0 2px #000000;
    text-transform: capitalize;
    padding: 5px;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    color:#d7d94c;
    background-color:rgba(0, 0, 0, 0.445);
}
.iconosest{
    font-size: 150px;
    color:#a5a3a3;
    background-color:rgba(0, 0, 0, 0.445);
    text-shadow: 0 0 2px #000000;
}
.estud{
    padding: 10px;
    list-style: none;
    text-decoration:none;
    width: 40vh;
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    font-size: 15px;
    color:rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.445);
}
.equipo{
    box-shadow: 0 0 05px #000000;
}

.bodycontact{
    background-image:url(../img/microphone-7495739_1920.jpg);
    margin: 0 auto;
}
.contactosh2{
    border-radius: 100px;

}
.input-group{
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    padding:50px 55px;
    box-shadow:0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    text-align: center;
    width:1900px;
    margin: 0 auto;
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align:left;
}
.contactosh2{
    color: #ffffff;
    font-size:29px;
}
label{
    color:#ffffff;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}
input, textarea{
    padding:17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #EDFFF0;
    border: 2px solid #F0FAF1 ;
    color:black;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: #b5cab6;
}
.form-text{
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form-text a{
    color:#76b28d;
    font-size:14px;
    font-weight: 600;
    text-decoration: none;
}
.btn{
    font-size: 16px;
    color: #FFFFFF;
    border: 0;
    border-radius: 25px;
    background-color:#d7d94c ;
    box-shadow: 0 0 20px rgba(165, 254, 0, 0.4);
    cursor:pointer
}
.btn:hover{
    background-color: #a5a3a3;
}

@media(max-width:991px){
    body{
        padding: 0px;
    }
    form{
        padding:50px 30px ;
        width:100%
    }
    input{
        padding: 15px;
    }
}
.algunos{
    text-align:center;
    text-transform: capitalize;
    text-shadow:0 0 04px #d7d94c ;
    color:#ffffff ;
    background-color: #000;
    padding: 20px;
}
.row{
    background-color: #000000;
    justify-content:space-evenly;
    display: flex;
}
.galeria{
    background-image:url(../img/microphone-7495739_1920.jpg);
    filter: saturate(0.9);
}
.container{
    background-color: #00000059;
    width: 100%;
    margin:auto;
    border-radius: 100px;
}
.galeria .container{
    display: grid;
    padding: 30px;
}
.box{
    margin: 10px;
    
}
.box img{
    width: 100%;
    height: 230px;
    filter:brightness(0.9);
    border-radius: 20px;
}
.box img:hover{
    filter:grayscale(0.9);
    object-fit:scale-down;
}

@media(min-width:520px){
        .galeria .container{
            grid-template-columns:repeat(2,50%) ;
        }
    }
@media(min-width:728px){
            .galeria .container{
                grid-template-columns:repeat(3,33.3%) ;
            }
        }
@media(min-width:1024px){
            .galeria .container{
                grid-template-columns:repeat(4,25%) ;
            }
            .container{
                width: 1024px;
            }
        }
