$primary-color: #d7d94c;
$secondary-color: #a5a3a3;
$card-color: #facc4c;
$card-color2:#3d3726d3;
$black: rgb(0, 0, 0);
$white: white;
$background-dark: $black;
$text-dark-shadow: 0 0 3px #d7d94c;
$font-family-base: "Rubik", sans-serif;

